extends layout 

block content
  h2= title
  ul(class='category-list')
    each category in category_list
      li
        div.category-wrapper
          a(href=`/catalog/category/${category._id}`) #{category.name}
          p= category.description
        a#delete-category-link(href=`/catalog/category/${category._id}/delete`) Delete
        a#update-category-link(href=`/catalog/category/${category._id}/update`) Update
        hr
